.discoverweekly {
  border: 2px solid black;
  height: 100vh;
  flex: 0.8;
  overflow: scroll;

  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 01));
}

.discoverweekly__playlist {
  color: white;
  display: flex;
  padding-top: 40px;
  padding-left: 30px;
  align-items: flex-end;
}

.discoverweekly__playlistLeft {
  display: flex;
  align-items: flex-end;
}

.discoverweekly__playlistLeft > img {
  object-fit: contain;
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
}

.discoverweekly__playlistRight {
  padding-left: 30px;
  align-items: center;
}

.discoverweekly__playlistRight > h1 {
  font-size: 90px;
}

.discoverweekly__songlist {
  margin-top: 40px;
  margin-left: 40px;
}

.discoverweekly__controls {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 30px;
}

.discoverweekly__controlsGreenPlay {
  color: #1bd760;
  font-size: 66px !important;
  padding-right: 20px;
}

.discoverweekly__controlsGreenFav {
  color: #1bd760;
  font-size: 35px !important;
  padding-left: 20px;
}

.discoverweekly__controlsGray {
  color: gray;
  font-size: 35px !important;
  padding-left: 40px;
}

.discoverweekly__row {
  display: flex;
  color: gray;

  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.discoverweekly__row > h4 {
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.discoverweekly > hr {
  opacity: 20%;
  align-self: center;
}
