.login {
  display: grid;
  place-items: center;
  background-color: black;
  align-items: center;
  height: 100vh;
}

.login > img {
  width: 25%;
}

.login > a {
  background-color: #1dd05f;
  padding: 20px 60px 20px 60px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 99px;
}

.login > a:hover {
  background-color: #1bd760;
}
